body {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.navbar-brand h1, footer h1 {
font-family: 'Oswald';
font-weight: 500;

}

/* header {
  background-image: url('../img/base.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-bottom: 10rem;
} */
