body {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.container span {
font-family: 'Oswald';
font-size: 1.5rem;
font-weight: 500;
font-weight: bold;
}

header {
  background-image: url('../img/familia.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-bottom: 10rem;
}

h2 {
font-family: 'Oswald';
font-weight: 700;
font-size: 3.25rem;
padding-top: 20px;
}

.carousel-indicators {
  top:50px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .col-auto .card {
    width: 11rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .col-auto .card {
    width: 12rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .col-auto .card {
    width: 17rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-auto .card {
    width: 19rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col-auto .card {
    width: 18rem;
  }
}
